<% include inc/header %>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F80a14b07297d04cb9e1910392d6da1cb' type='text/javascript'%3E%3C/script%3E"));
</script>

<div id="main">
    <div id="main-inner">
        <div id="topnav">
            <ul>
                <li><a href="/">首页</a></li>
                <li class="sep"> | </li>
                <li><a href="/tag.html">标签</a></li>
                <% include inc/navbar %>
            </ul>
            <div style="clear:both;"></div>
        </div>
        <div id="article-title">
            <a href="<%= article.link %>"><%= article.title %></a>
        </div>
        <div id="article-meta">
            作者 <%= article.author %> | 发布于 <%= article.postedOn %>
        </div>
        <div id="article-tags">
        <% article.tags.forEach(function (tag) { %>
        <a class="tag" href="/tag.html#<%= tag %>"><%= tag %></a>
        <% }); %>
        </div>
        <div id="article-content">
            <%- article.content %>
        </div>
        <% include inc/article_footer_plugin %>
        <!-- JiaThis Button BEGIN -->
<div class="jiathis_style_32x32">
    <a class="jiathis_button_qzone"></a>
    <a class="jiathis_button_tsina"></a>
    <a class="jiathis_button_tqq"></a>
    <a class="jiathis_button_weixin"></a>
    <a class="jiathis_button_renren"></a>
    <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
    <a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1365138262182550" charset="utf-8"></script>
<!-- JiaThis Button END -->
        <!-- Duoshuo Comment BEGIN -->
    <div class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"albert-feng"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = 'http://static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
<!-- Duoshuo Comment END -->
    </div>
</div>

<% include inc/footer %>
